<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- bora_book_detail -->
<!-- #{bk_detail_num}, #{bk_num}, #{id}, #{bk_day}, #{bk_iow}, #{bk_group}, #{bk_category}, #{bk_money}, #{bk_memo} -->
<mapper namespace="com.bora.mapper.BookDetailMapper">

	<resultMap type="com.bora.domain.report.BookDetailVO" id="detail">
		<result property="bk_detail_num" column="bk_detail_num"/>
		<result property="bk_num" column="bk_num"/>
		<result property="id" column="id"/>
		<result property="bk_day" column="bk_day"/>
		<result property="bk_iow" column="bk_iow"/>
		<result property="bk_group" column="bk_group"/>
		<result property="bk_category" column="bk_category"/>
		<result property="bk_money" column="bk_money"/>
		<result property="bk_memo" column="bk_memo"/>
		<collection property="book" resultMap="book" />
	</resultMap>
	
	<resultMap type="com.bora.domain.report.BookVO" id="book">
		<id property="bk_num" column="bk_num" />
		<id property="id" column="id" />
		<id property="bk_year" column="bk_year" />
		<id property="bk_month" column="bk_month" />
		<id property="bk_budget" column="bk_budget" />
	</resultMap>
	
	<!-- 가계부 수기 작성 -->
	<insert id="writeBookDetail">
		insert into bora_book_detail(id, bk_num, bk_day, bk_iow, bk_group, 
									 bk_category, bk_money, bk_memo)
		values (#{id}, #{bk_num}, #{bk_day}, #{bk_iow}, #{bk_group}, 
				#{bk_category}, #{bk_money}, #{bk_memo});
	</insert>
	

	
	<!-- 회원의 대시보드용 최신 10개 목록 불러오기 -->
	<select id="getDashboardBookDetail" resultMap="detail">
		select b.bk_num, b.bk_year, b.bk_month, b.bk_budget, 
			   d.bk_detail_num, b.id, d.bk_day, d.bk_iow, d.bk_group, 
			   d.bk_category, d.bk_money, d.bk_memo
		from bora_book_detail d join bora_book b
		on b.bk_num = d.bk_num
		where b.id=#{loginID} and b.bk_year=#{year} and b.bk_month=#{month}
		order by d.bk_day desc
		limit 0, 10
	</select>
	
	<!-- 회원의 가계부 모든 목록 불러오기 -->
	<select id="getBookDetailAll" resultMap="detail">
		select b.bk_num, b.bk_year, b.bk_month, b.bk_budget, 
			   d.bk_detail_num, b.id, d.bk_day, d.bk_iow, d.bk_group, 
			   d.bk_category, d.bk_money, d.bk_memo
		from bora_book_detail d join bora_book b
	</select>
	
	<!-- 회원의 가계부 모든 목록 불러오기 -->
	<select id="getBookDetailList" resultType="com.bora.domain.report.BookDetailVO">
		select b.bk_num, b.bk_year, b.bk_month, b.bk_budget, 
			   d.bk_detail_num, b.id, d.bk_day, d.bk_iow, d.bk_group, 
			   d.bk_category, d.bk_money, d.bk_memo
		from bora_book_detail d join bora_book b
		on b.bk_num = d.bk_num
		where b.id=#{loginID}
		limit #{pm.startRow}, #{pm.vo.perPageNum}
	</select>
	
	<!-- 회원의 특정 연월 가계부 목록 불러오기 -->
	<select id="getMonthBookDetailList" resultMap="detail">
		select b.bk_num, b.bk_year, b.bk_month, b.bk_budget, 
			   d.bk_detail_num, b.id, d.bk_day, d.bk_iow, d.bk_group, 
			   d.bk_category, d.bk_money, d.bk_memo
		from bora_book_detail d join bora_book b
		on b.bk_num = d.bk_num
		where b.id=#{loginID} and b.bk_year=#{bk_year} and b.bk_month=#{bk_month}
		limit #{pm.startRow}, #{pm.vo.perPageNum}
	</select>
	
	<!-- 방금 가장 최신 가계부 글의 번호 불러오기 -->
	<select id="getMonthBookDetailCnt" resultType="Integer">
		select count(*) from bora_book_detail
		where id=#{loginID}
	</select>
	
	<!-- 회원의 특정 가계부 내용 불러오기 -->
	<select id="getBookDetail" resultMap="detail">
		select b.bk_num, b.bk_year, b.bk_month, d.bk_detail_num, d.id, d.bk_day, d.bk_iow, 
			   d.bk_group, d.bk_category, d.bk_money, d.bk_memo
		from bora_book_detail d join bora_book b
		on b.bk_num = d.bk_num
		where b.id=#{loginID} and d.bk_detail_num=#{bk_detail_num}
	</select>
	
	<!-- 특정 가계부 내용 수정하기 -->
	<update id="updateBookDetail" >
		update bora_book_detail 
		set bk_day=#{bk_day}, bk_group=#{bk_group}, bk_category=#{bk_category}, 
			bk_money=#{bk_money}, bk_memo=#{bk_memo}
		where id=#{id} and bk_detail_num=#{bk_detail_num}
	</update>
	
	<delete id="deleteBookDetail">
		delete from bora_book_detail
		where bk_detail_num = #{bk_detail_num} and id=#{id}
	</delete>

</mapper>