<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- mapper.xml에서 resultType 지정 필요 없도록 -->
	<typeAliases>
		<package name="com.bora.domain"/> 
		<package name="com.bora.domain.report"/> 
	</typeAliases>
</configuration>