<!-- <%@ page language="java" contentType="text/html; charset=UTF-8"
    pageEncoding="UTF-8"%> -->
<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>BizLand Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">


  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">


</head>

<body>

  <!-- ======= Top Bar ======= -->
  <section id="topbar" class="d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
      </div>
      <div class="social-links nav justify-content-end">
        <a href="#" class="twitter">로그인</a>
        <a href="#" class="facebook">회원가입</a>
      </div>
    </div>
  </section>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="index.html">BORA<span></span></a></h1>


      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">리포트</a></li>
          <li><a class="nav-link scrollto " href="#portfolio">자산관리</a></li>
          <li><a class="nav-link scrollto" href="#contact">고객센터</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- Page content-->
  <div class="container mt-5 ">
    <div class="row" style="justify-content: center; align-items: center;">
      <div class="col-lg-8">
        <!-- Post content-->
        <article>
          <!-- Post header-->
          <header class="mb-4">
            <!-- Post title-->
            <h1 class="fw-bolder mb-1">Welcome to Blog Post!</h1>
            <!-- Post meta content-->
            <div class="text-muted fst-italic mb-2">Posted on January 1, 2022 by Start Bootstrap</div>
          </header>
          <!-- Preview image figure-->
          <figure class="mb-4"><img class="img-fluid rounded" src="https://dummyimage.com/900x400/ced4da/6c757d.jpg"
              alt="..." /></figure>
          <!-- Post content-->
          <section class="mb-5">
            <p class="fs-5 mb-4">Science is an enterprise that should be cherished as an activity of the free human
              mind. Because it transforms who we are, how we live, and it gives us an understanding of our place in the
              universe.</p>
            <p class="fs-5 mb-4">The universe is large and old, and the ingredients for life as we know it are
              everywhere, so there's no reason to think that Earth would be unique in that regard. Whether of not the
              life became intelligent is a different question, and we'll see if we find that.</p>
            <p class="fs-5 mb-4">If you get asteroids about a kilometer in size, those are large enough and carry enough
              energy into our system to disrupt transportation, communication, the food chains, and that can be a really
              bad day on Earth.</p>
            <h2 class="fw-bolder mb-4 mt-5">I have odd cosmic thoughts every day</h2>
            <p class="fs-5 mb-4">For me, the most fascinating interface is Twitter. I have odd cosmic thoughts every day
              and I realized I could hold them to myself or share them with people who might be interested.</p>
            <p class="fs-5 mb-4">Venus has a runaway greenhouse effect. I kind of want to know what happened there
              because we're twirling knobs here on Earth without knowing the consequences of it. Mars once had running
              water. It's bone dry today. Something bad happened there as well.</p>
          </section>
          <button style="border: none; margin: 2px; background-color: #5107B0; color: white; border-radius: 5px;">수정</button>
          <button style="border: none;margin: 2px; background-color: #5107B0; color: white; border-radius: 5px;">삭제</button>
          <button style="border: none;margin: 2px; background-color: #5107B0; color: white; border-radius: 5px;">목록</button>
        </article>
        <br>


        <!-- Comments section-->
        <section class="mb-5">
          <div class="card bg-light">
            <div class="card-body">
              <!-- 댓글입력창 !-->
              <form class="mb-4"><textarea class="form-control" rows="3"
                  placeholder="댓글을 입력해주세요 !"></textarea>
                <button type="button" class="btn"
                  style="background-color: #5107B0; float: right; width: 80px; margin: 10px; font-size: 16px;">
                  <span class="btn-inner-text" style="color: white;">등 록</span>
                </button>
              </form>
              <br>
              <br>
              <!-- 댓글입력창 !-->

              <!-- Single comment-->
              <div class="d-flex">
                <div class="flex-shrink-0"></div>
                <div class="ms-3">
                  <div class="fw-bold">Commenter Name
                    <span>
                      <button style="border: none; margin: 2px; background-color: #ecdffd; border-radius: 5px;">답글</button>
                      <button style="border: none;margin: 2px; background-color: #ecdffd; border-radius: 5px;">수정</button>
                      <button style="border: none;margin: 2px; background-color: #ecdffd; border-radius: 5px;">삭제</button>
                    </span>
                  </div>
                  When I look at the universe and all the ways the universe wants to kill us, I find it hard to
                  reconcile that with statements of beneficence.
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>















  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center">
        </div>
      </div>
    </div>

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-2 col-md-6 footer-contact">
            <h3>BORA<span>.</span></h3>
            <p>
              부산광역시 부산진구 동천로 109 삼한골든게이트 7층<br>
              <strong>고객센터 번호:</strong> 051-803-0909<br>
              <strong>영업시간:</strong> 09:00 ~ 18:00<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4><i class="bx bx-chevron-right"></i> <a href="#">Home</a></h4>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4><i class="bx bx-chevron-right"></i> <a href="#">About</a></h4>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4><i class="bx bx-chevron-right"></i> <a href="#">리포트</a></h4>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4><i class="bx bx-chevron-right"></i> <a href="#">자산관리</a></h4>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4><i class="bx bx-chevron-right"></i> <a href="#">고객센터</a></h4>
          </div>

        </div>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>